@model CLASSEM_MVC_PRO.Models.DTOs.ProductDTOs.ProductResponseModel
@{
}

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Records.css">
    <title> Customer Record Page</title>
</head>

<body>

    <header style="background: rgba(0,0,0,.5);padding: 5px;">
        <div class="logo">
            <img class="lo" src="log.jpeg" alt="ClassemLogo">
            <div>
                <h2>#CLASSEM#</h2>
            </div>
        </div>
    </header>
    <div class="container-head">
        <h1>Details</h1>
    </div>
    <div class="table">
        <table style="width:100%">
            <tr>
                <th class="th">Name:</th>
                <td>@Html.DisplayFor(model => model.Data.Name)</td>
            </tr>
            <tr>
                <th class="th">Reg No:</th>
                <td>@Html.DisplayFor(model => model.Data.ProductId)</td>
            </tr>
            <tr>
                <th class="th">Email:</th>
                <td>@Html.DisplayFor(model => model.Data.Description)</td>
            </tr>
            <tr>
                <th class="th">Phone Number:</th><em>
                    <td>@Html.DisplayFor(model => model.Data.Color)</td>
            </tr>
            <tr>
                <th class="th">DOB:</th>
                <td>@Html.DisplayFor(model => model.Data.Engine)</td>
            </tr>
            <tr>
                <th class="th">Balance:</th>
                <td>@Html.DisplayFor(model => model.Data.SellingPrice)</td>
            </tr>
        <div>
            <a asp-action="Update" asp-route-ProductId="@Model.Data.ProductId" class="btn btn-success">EDIT</a>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
        </div>
        </table>


    </div>
</body>

</html>